body{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
    background-color: #ACE9B3;
}

img{
    border: 1px solid black;
    border-radius: 50%;
    width: 10vw;
    height: 20vh;
    position: relative;
}

h1{
    text-align: center;
}

#container{
    box-sizing: border-box;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5%;
    margin: 50px auto;
    background-color: #FFF;
}

table{
    border-collapse: collapse;
}

.celDescricao{
    border-right: 3px solid black;
}

.celTecnologias{
    border-left: 3px solid black;
}

.celDescricao, .celTecnologias{
    border-bottom: 3px solid black;
    padding: 20px;
}

a{
    text-decoration: none;
}

#msgAtualizar a:hover{
    text-decoration: underline;
}

#msgSair a:hover{
    color: red;
    text-decoration: underline;
}